<%- include('../partials/head.ejs') %> 
<%  %>
<%- include('../partials/nav.ejs') %> 

<div class="col-10 m-auto justify-content-center ">
    <div class="row mt-4 justify-content-center">
           
          <div class="col-3">
            <form action='/cartdeleted' method="POST">
              <button type="submit" class="btn btn-danger">Delete cart</button>
            </form>
            
          </div>
          <div class="col-3">
            <form action='/order' method="POST" class="px-3">
              <button type="submit" class="btn btn-success">BUY CART</button>
            </form>
        
          </div>
          
    </div>
    <hr>
  <div class="row ">
    <div class="col-6 justify-content-center">
      <h5>Add product to cart</h5>
      <form action="/cart" method="post">          
          <input type="text" class="col-6" name='title'class="form-control" placeholder="Product title..." id="InputTitle">

          <button type="submit" class="btn btn-success">Add to cart</button>
      </form>
    </div>
    <div class="col-3">
      <h4>
        Cart price   $ <%=JSON.stringify(total) %>  </th>
      </h4>
      
    </div>
  </div>
  
        
    <!--HACER UN RELLENADO AUTOMATICO-->
    <div class="col-10 mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < cart.length; i++) {%>
              <tr>
                <th><%=cart[i].title %></th>
                <th><%=cart[i].price %></th>
                <th><%=cart[i].description %></th>
                <th><%=cart[i].quantity %></th>
                <th>
                  <form action='/itemdeleted' method="POST">
                    <input type="text" name="title" value="<%=cart[i].title %>" style="display: none;">
                    <button type="submit" class="btn btn-danger">Delete item</button>
                  </form>
              </th>
              </tr>
              <% } %> 
            </tbody>

          </table>
    </div>
    

</div>

<%- include('../partials/footer.ejs') %>