<%- include('../partials/head.ejs') %> 

  <%- include('../partials/nav.ejs') %> 
  <div class="col-md-12 m-auto justify-content-center">
    <div class="m-4 p-4 justify-content-center">
        <div class="px-5">
          
            <table class="table table-striped table-hover">
              <thead class="">
                <tr class="">
                  <h1 class="text-center p-4">PRODUCTS</h1>
                </tr>
                
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Stock</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Edit</th>

              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                 
                  <form action="/product" method="post">
                  <td><input type="text" name="title" class="form-control"  placeholder="Enter title"></td>
                  <td><input type="number" name="price" class="form-control"  placeholder="Enter price"></td>
                  <td><input type="text" name="description" class="form-control"  placeholder="description"></td>
                  <td scope="row"><input type="number" name="stock" class="form-control"  placeholder="Enter stock"></td>
                  <td><%=date%></td>
                  <td><input type="submit" class="btn btn-primary md-2 mx-2" name="edit" value="add"></td>
                </form>
                </tr>
                <% product.forEach(prod=>{ %>
                <tr>          
                  <form action="/product/<%= prod.title%>" method="post">
                    <th scope="row"></th>
                    <td> <input type="hidden" name="title" value="<%= prod.title%>" /><%= prod.title%></td>
                    <td> <input type="hidden"name="price"   value="<%= prod.price%>" />$ <%= prod.price%></td>
                    <td> <input type="hidden"  name="description" value="<%= prod.description%>" /><%= prod.description%></td>
                    <td> <input type="hidden" name="stock" value=" <%= prod.stock%>" /> <%= prod.stock%></td>
                    <td> <input type="hidden"  value="  <%= prod.createdAt%>" />  <%= prod.createdAt%></td>
                    <td><input type="submit" class="btn btn-danger md-2 mx-2" name="edit" value="delete"></td>
                    <td><input type="submit"  formaction="/cart/<%= prod.title%>" formmethod="post"class="btn btn-success md-2 mx-2" name="edit" value="addcart"></td>
                  </form>
                </tr>
                <% }) %>
             
              </tbody>
            </table>
          
          
          </div>
        
    </div>   
  </div> 
  <%- include('../partials/footer.ejs') %>