<%- include('./partials/head.ejs') %> 

  <%- include('./partials/nav.ejs') %> 
  <div class="px-5">  
    <table class="table table-striped table-hover">
      <thead class="">
        <tr class="">
          <h1 class="text-center p-4">WELCOME</h1>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <th scope="row">Name</th>
          <td><%=user.name%></td>
        </tr>
        <tr>
          <th scope="row">Surname</th>
          <td><%=user.surname%></td>
        </tr>
        <tr>
          <th scope="row">email</th>
          <td><%=user.email%></td>
        </tr>
        <tr class="">
          <th scope="row">address</th>
          <td><%=user.address%></td>
        </tr>
        <tr class="">
          <th scope="row">age</th>
          <td><%=user.age%></td>
        </tr>
        <tr class="">
          <th scope="row">phone</th>
          <td><%=user.phone%></td>
        </tr>
      </tbody>
    </table>
  </div>
<%- include('./partials/footer.ejs') %>